<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>

<style type="text/css">

body {
  font-family: arial;

}

.name, .title {
  font-size:18px;

}

.bio {
  font-size:12px;

}

.icon img {
    width:80px;
    margin-right: 10px;
    float:left;
  } 

  .large img {
    width:600px;
    margin-right: 10px;
    float:left;
  } 

#app-container li {
  border-top:1px solid #EEEEEE;
  padding: 5px;
  min-height:80px;
}

#app-container ul {
  list-style-type: none;

}

input {
  display:block;
  margin-bottom:10px;
}


</style>

</head>
<body>



<div id="app-container">
  <div id="main-region" class="container"></div>
</div>


<script id="person-template" type="text/template">
  <div class="icon"><img src="<%= imagePath %>" /><span class="name"><%= name %></span> - <span class="title"><%= title %></span>
    <div class="bio"><%= bio %></div>

</script>

<script id="person-detail-template" type="text/template">
  <div class="large"><img src="<%= imagePath %>" /><span class="name"><%= name %></span> - <span class="title"><%= title %></span>
    <div class="bio"><%= bio %></div>

</script>


<script src="./js/jquery.js"></script>
 <script src="./js/json2.js"></script>
 <script src="./js/underscore.js"></script>
 <script src="./js/backbone.js"></script>
 <script src="./js/backbone.marionette.js"></script>

  <script src="./js/main6.js"></script>
</body>
</html>