<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>

<style type="text/css">

body {
  font-family: arial;

}

.name, .title {
  font-size:18px;

}

.bio {
  font-size:12px;

}

   .img img {
    width:80px;
    margin-right: 10px;
    float:left;
  } 

#people-container li {
  border-top:1px solid #EEEEEE;
  padding: 5px;
  min-height:80px;
}

#people-container ul {
  list-style-type: none;

}

input {
  display:block;
  margin-bottom:10px;
}


</style>

</head>
<body>

<script id="editPersonTemplate" type="text/template">
  <form id="addPerson" action="">
      <input id ="name" name="name" value="<%= name %>" type="text" placeholder="Name">
      <input id ="title" name="title" type="text" value="<%= title %>" placeholder="Title">
      <input id ="imgPath" name="imagePath" type="text" value="<%= imagePath %>" placeholder="Image URL">
      <textarea id ="bio" name="bio" rows="4" cols="50" placeholder="bio">
        <%= bio %>
      </textarea>
      <input type="submit" class="save" name="save" value="Save" /><input type="submit" class="cancel" name="cancel" value="Cancel" />
  </form>
</script>


<script id="personTemplate" type="text/template">
  <div class="img"><img src="<%= imagePath %>" /><span class="name"><%= name %></span> - <span class="title"><%= title %></span>
    <div class="bio"><%= bio %></div>
    <button class="edit">Edit</button>
  <button class="delete">Delete</button>
</script>

<div id="edit-form-container"></div>
<div id="people-container"></div>



<div id="people-list"></div>

  <script src="js/jquery.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/main4a.js"></script>
</body>
</html>